# Base de données PostgreSQL
DATABASE_URL="postgresql://user:password@host:port/dbname"

# Environment
NODE_ENV=production

# NextAuth
AUTH_SECRET=generate_with_openssl_rand_-base64_32
NEXTAUTH_URL=https://your-domain.com
